#form-activite {
    margin: 3em;
    background-color: white;
    border-radius: 25px;
    border: #6f7079 2px solid;
    width: 25em;
    display: flex;
    justify-self: center;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    box-shadow: 0 0 10px 0 #2b2d42;
}

#form-activite input, textarea, select {
    color: #2b2d42;
    width: 80%;
    margin: 0.2em;
    padding: 0.5em;
    border-radius: 5px;
    border: #6f7079 1px solid;
}

button {
    all: unset;
    margin-bottom: 1em;
}

@media (max-width: 600px) {
    #form-activite {
        width: 90%;
    }
}