.table {
  box-shadow: 0 0 10px 0 #2b2d42;
  background-color: white;
  border-radius: 5px;
  margin: 15px;
  width: 75vw;
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 1fr;
  transition-duration: 150ms;
}

main {
  height: 90vh;
  overflow: scroll;
}

.table:hover {
  background-color: #efefef;
  transform: scale(1.005);
  cursor: pointer;
}

.col:first-child {
  justify-content: center;;
}

.col {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

table>col:first {
  align-items: center;
}

.location {
  display: flex;
  align-items: center;
}

.location-img {
  height: 2em;
  margin-left: 0.5em;
}

.small-buttons {
  display: flex;
  align-items: center;
  background-color: #4d5074;
  color: white;
  text-decoration: none;
  border-radius: 10px;
  padding: 10px 20px 10px 20px;
  margin: 15px;
  transition-duration: 150ms;
  width: fit-content;
}

.small-buttons img {
  height: 1.55em;
}

.small-buttons * {
  margin: 0px;
  padding: 0px; 
  margin-left: 10px;
  display: inline-block;
}

.small-buttons:hover {
  background-color: #8d99ae;
}

.title {
  font-weight: bold;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.img {
  align-self: center;
  width: 90%;
  border-radius: 4%;
  margin: 1em;
}

.bas {
  align-self: center;
}

#ajouter-activite {
  margin-top: 2em;
}

#filtres {
  display: flex;
  flex-wrap: wrap;
  background-color: #DC143C;
  color: #edf2f4;
  width: 100%;
  padding-bottom: 15px;
  border-bottom: 5px solid #ef233c;
}

#filtres * {
  margin-top: 0.3em;
  margin-left: 10px;
}

#title {
  margin-top: 0.5em;
  flex-basis: 100%;
}

#conteneur-activites {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 100%;
}
